table{
    border-collapse: collapse;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

td{
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

tr{
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

label{
    padding:0px;
    display:inline-block;
}

input{
    padding:0px;
    display:inline-block;
}

select{
    padding:0px;
    display:inline-block;
}